---
import { getCollection } from "astro:content";
const allPages = await getCollection("docs");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="p-4">
      <ul>
        {
          allPages.map((page) => (
            <li class="py-0.5">
              <a class="text-blue-600 hover:text-violet-600" href={"/" + page.slug}>
                {page.slug}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
